<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>practice-ajax</title>
</head>
<body>
    <p>time: <span id="time"></span></p>
    <input type="button" id="execute" value="execute"/>
    <script>
    document.querySelector('input').addEventListener('click',function(event){
        var xhr = new XMLHttpRequest();
        xhr.open('GET','./javascripts/example.js');
        xhr.onreadystatechange = function(){
            if(xhr.readyState===4&&xhr.status===200){
                document.querySelector("#time").innerHTML=xhr.responseText;

            }
        }
        xhr.send();
    });

    </script>

</body>
</html>